<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link href="/css/bootstrap/bootstrap.css"  rel="stylesheet">
<link href="/css/bootstrap/bootstrap-table.min.css"  rel="stylesheet">
<link href="/css/bootstrap/bootstrap-table.css"  rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/style.css"  rel="stylesheet">
<body class="gray-bg">
	<div class="wrapper wrapper-content " >
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content"
						 id="div_QR">
					</div>
				</div>
			</div>
	</div>
	</div>
	<script src="/js/jquery.min.js" ></script>
	<script src="/js/bootstrap/bootstrap.min.js" ></script>
	<script type="text/javascript" src="/js/printThis.js"></script>
	<script type="text/javascript" src="/js/qrcode.js"></script>
	<script type="text/javascript" src="/js/JsBarcode.all.js"></script>
	<script type="text/javascript" src="/js/appjs/print.js"></script>
</body>
</html>
