<!DOCTYPE html>
<html>
<meta charset="utf-8">

<body >

					<div id="QR">

	</div>
	<script src="/js/jquery.min.js" ></script>
	<script src="/js/bootstrap/bootstrap.min.js" ></script>
	<script type="text/javascript" src="/js/printThis.js"></script>
	<script type="text/javascript" src="/js/cxj.qrcode.min.js"></script>
	<script type="text/javascript" src="/js/qrcode.js"></script>
	<script type="text/javascript" src="/js/JsBarcode.all.js"></script>
	<script type="text/javascript" src="/js/appjs/print.js"></script>
</body>
</html>
