<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link href="/css/bootstrap/bootstrap.min.css"  rel="stylesheet">
<link href="/css/bootstrap/bootstrap-table.min.css"  rel="stylesheet">
<link href="/css/bootstrap/bootstrap-table.css"  rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/style.css"  rel="stylesheet">
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div>
						<table style="width: 100%" id="table">
							<tr style="height: 38px;">
								<td style="float: right;margin-top: 10px;">资产名称：</td>
								<td>
									<input id="assetsName" name="assetsName" placeholder="资产名称" type="text" class="form-control"  style="width: 240px;"></td>
								</td>
								<td style="float: right;margin-top: 10px;">资产分类：</td>
								<td >
									<input placeholder="资产类型" name="classification" id="classification" type="text" class="form-control " style="width: 240px;"></td>

								<td style="margin-top: 10px;">
									免费试用时间：
									<div class="columns pull-right">
									<input type="file" id="upFile" hidden name="upFile" placeholder=""/>

									</div>
								</td>
								<td style="margin-left: 20px">
									<!-- Example single danger button -->
									<div class="btn-group pull-right">
										<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<li class="fa fa-cog">设置</li>
										</button>
										<div class="dropdown-menu" style="font-size: 15px">
<!--                                            -->
<!--											<a class="dropdown-item" href="#">Another action</a>-->
<!--											<a class="dropdown-item" href="#">Something else here</a>-->
											<div class="dropdown-divider"></div>
											<button  class="dropdown-item" onclick="importExp()">导入资产</button>
											<button class="dropdown-item" onclick="setParam()">读写器设置</button>
											<button class="dropdown-item" onclick="scanning()">扫描列表</button>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td style="float: right;margin-top: 10px;">资产编号：</td>
								<td>
									<input id="assetsCode" name="assetsCode" placeholder="资产编号" class="form-control" style="width: 240px;" type="text">
								</td>
								<td style="float: right;margin-top: 10px;" >取得日期：</td>
								<td><input id="acquiredDate" name="acquiredDate" placeholder="取得日期" class="laydate-icon layer-date form-control" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" type="text"></td>
								<td>
									<div class="columns pull-left">
										<button class="btn btn-success" onclick="Export()">下载</button>
										<button  class="btn btn-primary" onclick="exportAsset()">打印</button>
										<button class="btn btn-success" onclick="reLoad()">查询</button>
										<button class="btn btn-success" onclick="clear1()">清空</button>
									</div>
								</td>
								<td></td>
							</tr>
						</table>
					</div>

					<table id="exampleTable" data-mobile-responsive="true" class="table-striped">
					</table>
				</div>
			</div>
		</div>
		<!--shiro控制bootstraptable行内按钮看见性 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div >
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div >
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div >
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<script src="/js/jquery.min.js" ></script>
    <script src="/js/bootstrap/popper.min.js" ></script>
	<script src="/js/bootstrap/bootstrap.min.js" ></script>

	<script src="/js/layer/layer.js" ></script>
	<script type="text/javascript" src="/js/layer/laydate/laydate.js" ></script>
	<script src="/js/bootstrap-table/bootstrap-table.min.js" ></script>
	<!--<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>-->
	<script src="/js/bootstrap-table/bootstrap-table-mobile.min.js" ></script>
	<script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" ></script>
	<script type="text/javascript" src="/js/appjs/user.js"></script>

</body>
</html>